<svg xmlns="http://www.w3.org/2000/svg" viewBox="20 50 700 200" height="42">
  <path d="M 170 80 L 50 130 L 170 170 L 50 220" stroke="black" fill="none" stroke-width="10"></path>
  <path d="M 320 80 L 240 150 L 320 220" stroke="black" fill="none" stroke-width="10"></path>
  <path d="M 410 220 L 410 80 L 520 80" stroke="black" fill="none" stroke-width="10"></path>
  <path d="M 560 80 L 630 220 L 700 80" stroke="black" fill="none" stroke-width="10"></path>
</svg>

<h1>words of prophets are<br>
written on subway walls</h1>

<p class="buttons">
  <a class="primary" href="/login">login</a>
</p>
