.bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  gap: 0.25em;
}

.bar h2,
.bar h3 {
  margin: 0;
  padding: 0;
  border: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  position: relative;
}

ul li a {
  display: block;
  text-decoration: none;
  padding: 0.7em 1em;
  margin-bottom: 0.25em;
  background: light-dark(#f1f1f1, #2b2b33);
}

ul li.pending {
  display: block;
  padding: 0.7em 1em;
  margin-bottom: 0.25em;
  background: light-dark(#f1f1f1, #2b2b33);
  opacity: 0.6;
}

ul li time {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.25em;
  font-size: 0.8em;
  opacity: .8;
}

.split {
  margin-bottom: 0.25em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.split small,
.split time {
  font-weight: normal;
}

.has-nav {
  align-items: flex-end;
}

.nav-bottom {
  margin-top: -1em;
  background: light-dark(#f1f1f1, #2b2b33);
  padding: 0 10px;
}

.nav-top {
  border-bottom: 5px solid light-dark(#f1f1f1, #2b2b33);
}

nav {
  display: flex;
  margin-right: 1em;
  justify-content: flex-end;
}

nav a {
  text-transform: lowercase;
  text-decoration: none;
  padding: 0 1rem;
  padding-bottom: 3px;
  border-color: light-dark(#dee2e6, #2b2b33) light-dark(#dee2e6, #2b2b33) light-dark(#fff, #000);
  text-transform: lowercase;
  line-height: 17px;
}

nav a.selected, nav a:hover {
  color: light-dark(#000, #fff);
  background: light-dark(#f1f1f1, #2b2b33);
}

.more {
  margin-top: 0.25em;
}

.more a {
  text-decoration: none;
}

hgroup h1,
hgroup h2,
hgroup h3 {
  margin-bottom: 0;
  border-bottom: none;
}

hgroup p {
  margin-top: 0.5em;
}