<main>
  <header class="bar">
    <h2>Objects</h2>
    <a class="button" href={~p"/add"}>Add object</a>
  </header>
  <ul>
    <li :for={object <- @objects}>
      <a href={~p"/object/#{object}"}><code>{object}</code></a>
    </li>
  </ul>
</main>