<header>
  <h1><a href={~p"/"}>Scry <small>v{Application.spec(:scry, :vsn) || "None"}</small></a></h1>
  <small>rev/{@revision.sha}</small>
</header>

<main>
  <header>
    <h2>{@revision.message}</h2>
    <p>Revision squashed at
      <time datetime={DateTime.from_unix!(@revision.timestamp) |> DateTime.to_iso8601()}>
        {date(@revision.timestamp)}</time>. Complete diff is rendered below.<br><br>
    </p>
  </header>
  <pre><code>{@revision.diff}</code></pre>
</main>
